<nav class="banner">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <a th:href="@{/}" class="nav-link">Home</a>
            </div>
            <div class="col">
                <a th:href="@{/about}"class="nav-link">About</a>
            </div>
            <div class="col">
                <a th:href="@{/list}" class="nav-link">List</a>
            </div>
            <div class="col">
                <a th:href="@{/addItem}" class="nav-link">Add Item</a>
            </div>
        </div>
    </div>
</nav>
