<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<header>
  <nav>
    <div class="container">
      <img src="https://tuyensinh.ntu.edu.vn/Uploads/2/Sliders/1760/ntu---banner-website-(1600-×-450-px)-250212100327.png"
           alt="Logo" width="100%" height="200">
    </div>
  </nav>
</header>