<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Thêm Page</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
  <div th:replace="fragments/sidebar"></div>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <div th:replace="fragments/topbar"></div>

      <!-- Begin Page Content -->
      <div class="container">
        <h2 class="mb-4">Thêm mới Page</h2>

        <form th:action="@{/addPage}" th:object="${page}" method="post">
          <div class="form-group">
            <label>ID</label>
            <input type="text" th:field="*{id}" class="form-control" placeholder="Nhập ID">
          </div>

          <div class="form-group">
            <label>Tên Page</label>
            <input type="text" th:field="*{pageName}" class="form-control" placeholder="Nhập tên page">
          </div>

          <div class="form-group">
            <label>Từ khóa</label>
            <input type="text" th:field="*{keyword}" class="form-control" placeholder="Từ khóa">
          </div>

          <div class="form-group">
            <label>Nội dung</label>
            <textarea th:field="*{contentPage}" class="form-control" rows="3" placeholder="Mô tả nội dung"></textarea>
          </div>

          <div class="form-group">
            <label>Parent Page ID</label>
            <input type="text" th:field="*{parentPageId}" class="form-control" placeholder="ID trang cha (nếu có)">
          </div>

          <button type="submit" class="btn btn-primary">Thêm mới</button>
          <a href="/List" class="btn btn-secondary">Quay lại danh sách</a>
        </form>
      </div>
      <!-- End Page Content -->

      <div th:replace="fragments/footer"></div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
</body>

</html>
